@import url('https://fonts.googleapis.com/css2?family=Lora&family=PT+Serif&family=Playfair+Display:wght@500&display=swap');
/* Mobile Version */
@media (max-width:768px){
    .container>center>header>nav>ul>li{display: block; padding: 15px;}
    .container>center>header>nav>ul,.container>center>header>nav>ul>li:nth-child(7), .container>center>header>nav>ul>li:nth-child(8){float: none;}
    .container>center>header>nav{text-align: center;}
    .textbox{
        display: block;
        width: auto;
        margin: 30px;
    }
    .orderdish2{
        display: block;
        width: auto;
        margin: auto;
        flex-flow: row nowrap;
        padding: 10px;
    }
    .menu{
        display: block;
        flex-flow: row nowrap;
        margin: auto;
        margin-bottom: 20px;
    }
}

/* Tablet Version */
@media(min-width:769px) and (max-width:1200px){
    .container>center>header>nav>ul{float: none;}
    .container>center>header>nav{text-align: center;}
    .container>center>header>nav>ul,.container>center>header>nav>ul>li:nth-child(7), .container>center>header>nav>ul>li:nth-child(8){float: none;}
    .orderdish{display: block;}
    .orderdish2{
        display: flex;
        flex-flow: row wrap;
    }
}